<!DOCTYPE html>
<html>
<head>
    <title>Movies</title>
</head>
<body>
    <h1>List of Movies</h1>
    <ul>
        {{#movies}}
        <li>
            <strong>{{movieName}}</strong> - {{rating}} - {{genre}}
        </li>
        {{/movies}}
    </ul>
</body>
</html>
