<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <title>MovieReview - Movies</title>
</head>
<body>
    <div class="content">

    </div>
</body>
</html>
