<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <title>MovieReview - Movies</title>
</head>
<body>

    <div class="header">
        <a class="linkimage" href="/index.html">
            <img src="/images/home.png" alt="Home" width="32" height="32">
        </a>
        <p>MovieReview - Movies</p>
    </div>

    <div class="content">

        <div class="movietile-flexbox">
        {{#movies}}
            <div class="movietile">
                <p class="movie-name">{{MovieName}}</p>
                <p class="release-date">Released on: {{ReleaseDate}}</p>
                <p class="director">Director: {{Director}}</p>
            </div>
        {{/movies}}
        </div>

    </div>

</body>
</html>