<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <title>MovieReview - Movies</title>
</head>
<body>

    <div class="header">
        <a class="linkimage" href="/index.html">
            <img src="/images/home.png" alt="Home" width="32" height="32">
        </a>
        <p>MovieReview - Movies</p>
    </div>

    <div class="content">

        {{#movies}}

        {{/movies}}

    </div>

</body>
</html>