<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <title>MovieReview - Movies</title>
</head>
<body>

    <div class="header">
        <a class="linkimage" href="/">
            <img src="/images/home.png" alt="Home" width="32" height="32">
        </a>
        <p>MovieReview - Movies</p>
    </div>

    <div class="content">

        <div class="movietile-flexbox">
        {{#movies}}
            <a class="movietile" href="/reviews?movie-name={{MovieName}}">
                <h4 class="flex-2">{{MovieName}}</h4>
                <p class="flex-1">Released on: {{ReleaseDate}}</p>
                <p class="flex-1">Director: {{Director}}</p>
            </a>
        {{/movies}}
        </div>

    </div>

</body>
</html>