<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <title>MovieReview - New Review</title>
</head>
<body>

    <div class="header">
        <a class="linkimage" href="/">
            <img src="/images/home.png" alt="Home" width="32" height="32">
        </a>
        <p>MovieReview - New Review</p>
    </div>

    <div class="centered-content">

        <form action="/new-review" method="post">
            <ul class="no-bullets">
                <li>
                    <label for="username">Username: </label>
                    <input type="text" id="username" name="username">
                </li>

                <li>
                    <label for="password">Password: </label>
                    <input type="text" id="password" name="password">
                </li>

                <li>
                    <label for="movie-name">Movie Name: </label>
                    <select id="movie-name" name="movie-name">
                    {{#movie-names}}
                        <option value="{{MovieName}}">{{MovieName}}</option>
                    {{/movie-names}}
                    </select>
                </li>
            <ul>
    </form>

    </div>

</body>
</html>