<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <title>MovieReview - New Movie</title>
</head>
<body>

    <div class="header">
        <a class="linkimage" href="/">
            <img src="/images/home.png" alt="Home" width="32" height="32">
        </a>
        <p>MovieReview - New Movie</p>
    </div>

    <div class="centered-content">

        <form action="/new-movie" method="post">
            <ul class="no-bullets">
                
                <li><label for="username">Username: </label></li>
                <li><input type="text" id="username" name="username" required></li>

                <li><label for="password">Password: </label></li>
                <li><input type="text" id="password" name="password" required></li>

                <li><label for="movie-name">Movie Name: </label></li>
                <li><input type="text" id="movie-name" name="movie-name" required></li>

                <li><label for="release-date">Release Date: </label></li>
                <li><input type="date" id="release-date" name="release-date" required></li>

                <li><label for="director">Director: </label></li>
                <li><input type="text" id="director" name="director" required></li>

                <li><input type="submit" value="Submit!"></input></li>
            <ul>
        </form>

        <p>{{error-message}}</p>

    </div>

</body>
</html>