<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <title>MovieReview - New Movie</title>
</head>
<body>

    <div class="header">
        <a class="linkimage" href="/">
            <img src="/images/home.png" alt="Home" width="32" height="32">
        </a>
        <p>MovieReview - New Movie</p>
    </div>

    <div class="content">

        <div class="reviewtile-flexbox">
            
        </div>

    </div>

</body>
</html>