<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <title>MovieReview - New Movie</title>
</head>
<body>

    <div class="header">
        <a class="linkimage" href="/">
            <img src="/images/home.png" alt="Home" width="32" height="32">
        </a>
        <p>MovieReview - New Movie</p>
    </div>

    <div class="content">

        <form action="/new-movie" method="post">
            <label for="movie-name">Movie Name: </label>
            <select id="movie-name" name="movie-name">
            {{#movie-names}}
                <option value="{{MovieName}}">{{MovieName}}</option>
            {{/movie-names}}
            </select>
        </form>

    </div>

</body>
</html>