<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <title>MovieReview - New Genre</title>
</head>
<body>

    <div class="header">
        <a class="linkimage" href="/">
            <img src="/images/home.png" alt="Home" width="32" height="32">
        </a>
        <p>MovieReview - New Genre</p>
    </div>

    <div class="centered-content">

        <form action="/new-genre" method="post">
            <ul class="no-bullets">
                <li><label for="username">Username: </label></li>
                <li><input type="text" id="username" name="username"></li>

                <li><label for="password">Password: </label></li>
                <li><input type="text" id="password" name="password"></li>

                <li><label for="genre-name">Genre Name: </label></li>
                <li><input type="text" id="genre-name" name="genre-name"></li>

                <li><input type="submit" value="Submit!"></input></li>
            <ul>
    </form>

    <p>{{error-message}}</p>

    </div>

</body>
</html>