<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <title>MovieReview - Reviews</title>
</head>
<body>

    <div class="header">
        <a class="linkimage" href="/">
            <img src="/images/home.png" alt="Home" width="32" height="32">
        </a>
        <p>MovieReview</p>
    </div>

    <div class="content">

        <div class="reviewtile-flexbox">
        {{#reviews}}
            <div class="reviewtile">
                <div class="row">
                    <p>User: {{UserName}}</p>
                </div>
            </div>
        {{/reviews}}
        </div>

    </div>

</body>
</html>
