<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <title>MovieReview - Top Rated Movies</title>
</head>
<body>

    <div class="header">
        <a class="linkimage" href="/index.html">
            <img src="/images/home.png" alt="Home" width="32" height="32">
        </a>
        <p>MovieReview - Top Rated Movies</p>
    </div>

    <div class="content">

    {{#movies}}
        <h3>{{MovieName}}</h3>
        <p>Average Rating: {{AverageRating}}</p>
    {{/movies}}

    </div>

</body>
</html>
