<!DOCTYPE html>
<html>
<head>
    <title>Top Rated Movies</title>
</head>
<body>

<h2>Top Rated Movies</h2>

{{#movies}}
    <h3>{{MovieName}}</h3>
    <p>Average Rating: {{AverageRating}}</p>
{{/movies}}

</body>
</html>
